/* CSS Document */
input {
  padding:3px;
}
fieldset {
  width: 800px;
  font-family:arial;
  font-weight:bold;
  padding:10px;
}
#formulario1 label {
  float:left;
  width:250px;
  background:#ddd;
  text-align:right;
  margin-right:.5em;
  padding:.25em;
}
#formulario1 p {
  font-size:16px;
  font-weight:normal;
}

